// reset
/* Box sizing rule */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Margin and padding reset */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ul,
ol,
li,
blockquote,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button {
  margin: 0;
  padding: 0;
}

/* Typography reset */
html,
body,
button,
input,
textarea {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.5;
}

/* List reset */
ul,
ol {
  list-style: none;
}

/* Link reset */
a {
  color: inherit;
  text-decoration: none;
}

/* Variables */
$spacer: 18px;
$spacerSmall: 2px;
$colorText: #fff;
$colorAccent: rgb(34, 255, 1);
$colorPrimaryFocus: blue;
$colorDark: #000;
$colorSoftDark: #333;
$mobileWidth: 389px;
$tabletWidth: 767px;
$linkColor: rgb(0, 81, 255);

/* Styles */
body {
  background-color: $colorDark;
  color: $colorText;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #999999 #f5f5f5;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;

  .App {
    display: flex;
    flex-direction: column;
    margin-bottom: $spacer * -2;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    min-height: $spacer * 2;
    padding: $spacer;
    background-color: $colorSoftDark;
    color: #fff;

    h2 {
      font-size: 90%;
      font-weight: lighter;
      span {
        font-size: 110%;
        color: $colorAccent;
      }
    }
  }
  .main-content {
    justify-content: space-between;
    position: relative;
    align-items: flex-start;
    top: $spacer * 5;
    display: flex;
    flex-direction: row;

    width: $tabletWidth;
    @media only screen and (max-width: $tabletWidth) {
      width: $mobileWidth;
      flex-direction: column;
    }
    label {
      display: block;
    }
    button {
      cursor: pointer;
      font-family: 'Roboto';
      font-size: 80%;
      padding: $spacerSmall;
      min-width: $spacer * 4;
      height: $spacer * 1.75;
      .active {
        background-color: $colorPrimaryFocus;
      }
    }
    input,
    select {
      font-family: 'Roboto';
      color: $colorSoftDark;
      font-size: 100%;
      width: 100%;

      padding: $spacerSmall;
      option {
        &.add {
          background-color: $colorSoftDark;
          color: #fff;
        }
      }
    }
    .formContainer {
      border: 1px solid $colorAccent;
      margin: 0 0 $spacerSmall 0;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      background-color: $colorSoftDark;
      min-height: $spacer * 3;
      padding: $spacer;
    }

    .line-through {
      text-decoration: line-through;
    }
    ul {
      margin: 0 0 0 spacer;
      padding: 0;
      li {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $spacerSmall;
        border-top: 1px dashed $colorSoftDark;
        .clickable {
          cursor: pointer;
          max-width: 50%;
          flex-grow: 1;
        }
      }
    }
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: $spacer;
    background-color: $colorSoftDark;
    color: #fff;
    border-top: 1px solid $colorAccent;
    a {
      color: $colorAccent;
    }
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
}
