/* Box sizing rule */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Margin and padding reset */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ul,
ol,
li,
blockquote,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button {
  margin: 0;
  padding: 0;
}

/* Typography reset */
html,
body,
button,
input,
textarea {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.5;
}

/* List reset */
ul,
ol {
  list-style: none;
}

/* Link reset */
a {
  color: inherit;
  text-decoration: none;
}

/* Variables */
/* Styles */
body {
  background-color: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #999999 #f5f5f5;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

body .App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .App form input[type='text'],
body .App form input[type='email'],
body .App form input[type='password'],
body .App form select,
body .App form textarea {
  height: 40px;
}

body .App .header {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 32px;
  padding: 16px;
  background-color: #333;
  color: #fff;
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
  body .App .header .header {
    min-height: 16px;
    font-size: 90%;
  }
}

body .App .header h2 {
  font-size: 90%;
  font-weight: lighter;
}

body .App .header h2 span {
  font-size: 110%;
  color: #22ff01;
}

body .App .main-content {
  z-index: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 16px;
  width: 767px;
  margin-bottom: 64px;
}

@media only screen and (max-width: 767px) {
  body .App .main-content {
    width: 389px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .App .main-content label {
  display: block;
}

body .App .main-content button {
  cursor: pointer;
  font-family: 'Roboto';
  padding: 2px;
  min-width: 64px;
}

body .App .main-content button .active {
  background-color: blue;
}

body .App .main-content input,
body .App .main-content select {
  font-family: 'Roboto';
  color: #333;
  font-size: 100%;
  width: 100%;
  padding: 2px;
}

body .App .main-content input option.add,
body .App .main-content select option.add {
  background-color: #333;
  color: #fff;
}

body .App .main-content .formContainer {
  margin: 0 0 2px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #333;
  min-height: 48px;
  padding: 16px;
  width: 100%;
}

body .App .main-content .line-through {
  text-decoration: line-through;
}

body .App .main-content ul {
  margin: 0 0 0 spacer;
  padding: 0;
}

body .App .main-content ul li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
  border-top: 1px dashed #333;
}

body .App .main-content ul li .clickable {
  cursor: pointer;
  max-width: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body .App .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  background-color: #333;
  color: #fff;
  border-top: 1px solid #22ff01;
}

body .App .footer a {
  color: #22ff01;
}

body .App code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
/*# sourceMappingURL=index.css.map */